body {
    background-image: url(media/pokemonBackground3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#list {
    background-color: rgb(48, 250, 4);
    
}

#listTitle {
    font-family: 'Architects Daughter', cursive;
    font-style: oblique;
    text-decoration: underline;
    position: absolute;
    top: -15px;
    right: 120px;
    z-index: 12;
}

li {
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;
}
#list li {
    cursor: pointer;
}
#list li:hover {
    
    transition-delay: 20ms;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-weight: bold ;
}

#description {
    display: none;
    position: absolute;
    top:350px;
    right: 400px;
    z-index: 11;

}

#pokedex {
    border: 4mm ridge rgba(201, 232, 233, 0.6);
    border-radius: 15px;
    position: absolute;
    right: 240px;
    top:60px;
    width: 900px;
    z-index: 0;
}

 #selfie {
    position: absolute;
    right: 280px;
    top: -65px; 
    width: 170px;
    z-index: 10;
    padding-right: 200px;
} 

#blackScreen {
    border: 3px solid rgb(17, 13, 11) ;
    border-radius:  15px;
    position: absolute;
    right: 773px;
    top: 253px; 
    height:212px ;
    width: 314px;
    z-index: 10;
}

#battleScreen {
    border: 3px solid rgb(17, 13, 11) ;
    border-radius:  15px;
    display: none;
    position: absolute;
    right: 773px;
    top: 255px; 
    height:210px ;
    width: 314px;
    z-index: 10;
    
}

#greenScreen{
    position: absolute;
    right: 326px;
    top: 274px; 
    height:131px ;
    width: 286px;
    z-index: 30;
    
    background-color: darkgreen;
}

#logo {
    position: absolute;
    top: 14px;
    left:256px;
    width: 40px;
    z-index: 30;
  
}
#logo2 {
    position: absolute;
    top: 703px;
    left:256px;
    width: 40px;
    z-index: 3;
  
}
#logo3 {
    position: absolute;
    top: 703px;
    left:14px;
    width: 40px;
    z-index: 3;
  
}
#logo4 {
    position: absolute;
    top: 14px;
    left:14px;
    width: 40px;
    z-index: 3;
  
}
#pika {
    position: absolute;
    top: 692px;
    left: 115px;
    z-index: 3;
    width: 80px;
}
#meowth {
    position: absolute;
    top: 14px;
    left: 194px;
    z-index: 3;
    width: 50px;
}

#eevee {
    position: absolute;
    top: 153px;
    right: 287px;
    z-index: 40;
    width: 75px;
}

h1 {
    font-family: 'Luckiest Guy', cursive; 
    position: absolute;
    top: 120px;
    right: 745px;
    z-index: 12;
}

dt , dl {
    float: right;
}
.close {
    position: absolute;
    top:-90px;
    right: 380px;
    z-index: 15;
}

dd {
    font-weight: bold;
}
dt {
    font-family: "Architects Daughter", cursive;
    font-weight: 900;
}
.name {
    position: absolute;
    right: 538px;
    top: 298px;
}

#name {
    position: absolute;
    top:264px;
    right:595px;
}

.height {
    position: absolute;
    top: 17px;
    right: 140px;
}    

#type {
    position: absolute;
    top: 255px;
    right: -105px;
    width: 110px;
}

#types {
    position: absolute;
    top: 272px;
    right: 15px;
}

.container{
    
    position: absolute;
    border: 7px solid rgb(176, 176, 176);
    box-shadow: 7px 5px rgb(103, 100, 102);
    border-radius: 15px;
    top:55px;
    right: 40px;
    height: 600px;
    width:200px;
    overflow: scroll;
}

#container{
    border: 4mm ridge rgba(223, 72, 72, 0.6);
    border-radius: 15px;
    background-color: rgb(251, 6, 5);
    position: absolute;
    top:0px;
    left:0px;
    height: 730px;
    width:280px;
}
.id {
    position: absolute;
    top:-250px;
    right: 660px;
}

.weight {
    position: absolute;
    top:18px;
    right:15px
}

#forms {
    position: absolute;
    top:272px;
    right:158px;
}

.forms {
    position: absolute;
    top:293px;
    right:112px;
}

#abilities {
    float: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: underline;
    position: absolute;
    top: -275px;
    right:190px;
    color:  rgb(255, 0, 0);
}

#infos {
    position: absolute;
    top: -279px;
    right: -132px;
    width: 110px;
    color: rgb(255, 0, 0);
    border: 11px solid rgb(176, 176, 176);
    box-shadow: -3px 5px rgb(103, 100, 102);
    background-color: rgb(251, 251, 5);
    border-radius: 15px ; 
    padding-right: 70px;   
    padding-left: 0px;
    padding-bottom: 2px;
}

#play {
    z-index: 36;
    width: 30px;
    position: absolute;
    top: 133px;
    right: 617px;
    cursor: pointer;
}